@import "../../css/colors";
@import "../../css/sizes";

.Players {
  display: flex;
  flex-direction: column;
  height: auto;

  li {
    font-size: 14px;
    font-weight: bold;

    svg {
      margin-left: 4px;
    }
  }

  input {
    margin-bottom: $spacing-medium;
    padding: $spacing-xsmall;
    width: 110px;
  }

  .name-display {
    min-height: 107px;

    p,
    input {
      font-size: 18px;
      padding: $spacing-xsmall;
    }

    input,
    p:last-child {
      background-color: $text-display-background-disabled;
    }
  }

  .player-list {
    height: auto;
    min-height: 265px;
    overflow-y: auto;
  }

  .dead {
    text-decoration: line-through;
  }
}
