@import "../../css/colors";
@import "../../css/sizes";

.Players {
  height: auto;

  li {
    font-size: 14px;
    font-weight: bold;

    svg {
      margin-left: 4px;
    }
  }

  p {
    font-size: 12px;
  }

  input {
    margin-bottom: $spacing-medium;
    padding: $spacing-xsmall;
    width: 110px;
  }

  .player-list {
    height: auto;
    min-height: 300px;
    overflow-y: auto;
  }

  .dead {
    text-decoration: line-through;
  }

  .BaldyBlue {
    color: $baldy-blue;
  }

  .CrypticCyan {
    color: $cryptic-cyan;
  }

  .GooeyGreen {
    color: $gooey-green;
  }

  .OrneryOrange {
    color: $ornery-orange;
  }

  .PlacidPink {
    color: $placid-pink;
  }

  .RadRed {
    color: $rad-red;
  }

  .ViciousViolet {
    color: $vicious-violet;
  }

  .YummyYellow {
    color: $yummy-yellow;
  }
}
