@import "../../css/colors";
@import "../../css/sizes";

.Players {
  display: flex;
  flex-direction: column;
  height: 100%;

  li {
    font-size: 11px;
    font-weight: bold;

    svg {
      margin-left: 4px;
    }
  }

  input {
    margin-bottom: $spacing-medium;
    padding: $spacing-xsmall;
    width: 110px;
  }

  .name-display {
    padding-bottom: 10px;
    p,
    input {
      font-size: 15px;
      padding: $spacing-xsmall;
    }

    input,
    p:last-child {
      background-color: $text-display-background-disabled;
    }
  }
  .join-button {
    flex-grow: 1;

    button {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .player-list {
    flex-grow: 20;
    height: auto;
    overflow-y: auto;
  }

  .dead {
    text-decoration: line-through;
  }
}
