@import "../../css/sizes";
@import "../../css/colors";

.Instructions {
  height: 540px;
  text-align: left;

  p {
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .text-highlight {
    color: $bright-yellow;
    font-style: italic;
    font-weight: bold;
  }
}
