$red: #f00;
$black: #000;

$text-display-background: #fff;
$text-display-background-disabled: #aaa;
$panel-background: #2f4600;

// Player colors

$baldy-blue: #00297d;
$cryptic-cyan: #009f8c;
$gooey-green: #0e4300;
$ornery-orange: #ff4200;
$placid-pink: #ff008e;
$rad-red: #6e0019;
$vicious-violet: #6200ae;
$yummy-yellow: #9c8400;
