@import "../../css/sizes";
@import "../../css/colors";

.Status {
  min-height: 100px;
  height: auto;
  margin-bottom: $spacing-large;

  .status-box {
    p {
      font-size: 14px;
    }
    min-height: 60px;
    height: auto;
  }
}
