@import "../../css/sizes";
@import "../../css/colors";

.Status {
  height: auto;
  margin-bottom: $spacing-large;
  min-height: 100px;

  .status-box {
    height: auto;
    min-height: 60px;

    p {
      font-size: 14px;
    }
  }
}
