@import "css/colors";
@import "css/sizes";

.App {
  margin-top: $spacing-medium;
  width: 100%;

  .game-title {
    margin-bottom: $spacing-medium;
    text-align: center;
  }

  .interface-container {
    display: flex;
    justify-content: space-between;

    .game-placeholder {
      height: $game-panel-size;
      width: $game-panel-size;
    }
  }

  .panel {
    background-color: $panel-background;
    box-sizing: content-box;
    padding: $spacing-small;
  }

  .column {
    width: $column-width;
    height: $game-panel-size;
  }

  .boxtext {
    background-color: $text-display-background;
    color: $black;

    p,
    li {
      padding: 0 $spacing-xsmall;
    }
    p:first-child,
    li:first-child {
      padding-top: $spacing-xsmall;
    }
    p:last-child,
    li:last-child {
      padding-bottom: $spacing-xsmall;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("img/background.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    z-index: -1;
  }

  footer {
    margin-top: $spacing-small;
    display: flex;
    justify-content: center;
  }

  .BaldyBlue {
    color: $baldy-blue;
  }

  .CrypticCyan {
    color: $cryptic-cyan;
  }

  .GooeyGreen {
    color: $gooey-green;
  }

  .OrneryOrange {
    color: $ornery-orange;
  }

  .PlacidPink {
    color: $placid-pink;
  }

  .RadRed {
    color: $rad-red;
  }

  .ViciousViolet {
    color: $vicious-violet;
  }

  .YummyYellow {
    color: $yummy-yellow;
  }
}
