@import "css/colors";
@import "css/sizes";

.App {
  padding-top: $spacing-medium;
  width: 100%;

  .game-title {
    margin-bottom: $spacing-large;
    text-align: center;
  }

  .interface-container {
    display: flex;
    justify-content: space-between;

    .game-placeholder {
      height: $game-panel-size;
      width: $game-panel-size;
    }
  }

  .panel {
    background-color: $panel-background;
    box-sizing: content-box;
    padding: $spacing-small;
  }

  .column {
    width: $column-width;
  }

  footer {
    display: flex;
    justify-content: center;
  }
}
