@import "css/colors";
@import "css/sizes";

.App {
  margin-top: $spacing-medium;
  width: 100%;

  .game-title {
    margin-bottom: $spacing-medium;
    text-align: center;
  }

  .interface-container {
    display: flex;
    justify-content: space-between;

    .game-placeholder {
      height: $game-panel-size;
      width: $game-panel-size;
    }
  }

  .panel {
    background-color: $panel-background;
    box-sizing: content-box;
    padding: $spacing-small;
  }

  .column {
    width: $column-width;
  }

  .boxtext {
    background-color: $text-display-background;
    color: $black;

    p,
    li {
      padding: 0 $spacing-xsmall;
    }
    p:first-child,
    li:first-child {
      padding-top: $spacing-xsmall;
    }
    p:last-child,
    li:last-child {
      padding-bottom: $spacing-xsmall;
    }
  }

  footer {
    margin-top: $spacing-small;
    display: flex;
    justify-content: center;
  }
}
